.App {
  text-align: center;
}

.list {
  list-style: none;
}

.dropdown {
  float: center;
  overflow: hidden;
}

.dropdown .dropbtn {
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  background-color: white;
  float: none;
  color: black;
  padding: 0px 12px;
  text-decoration: none;
  display: center;
  text-align: center;
  font-size: 15px;
}

.dropdown-content p:hover {
  background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
  display: block;
}
